.message {
    position: absolute;
    color: green;
    right: 20px;
    top: 40px;
}

/* styling for the search form */
.search-form {
    position: relative;
    display: inline-block;
}

/* Style the search input field */
.search-input {
    margin-top: 20px;
    border-radius: 20px;
    width: 350px;
    height: 40px;
    background-color: #fff5fa !important;
    border: 1px solid #c72571;
}

input:-internal-autofill-selected {
    background-color: #fff5fa !important;
}

.search-input {
    padding-left: 40px;
}

.search-input::placeholder {
    font-size: 12px;
}

.text-area::placeholder {
    font-size: 12px;
}


.search-input:focus {
    outline: none;
}
/* ---------------------------------------------------------------------- */

.select-div {
    position: relative;
    display: none; /* Hide the original select */
}

.custom-select {
    position: relative;
    width: 170px;
    display: flex;
    justify-content: end;
    margin-right: 10px;
    align-items: center;
}

.selected-option {
    padding: 5px;
    border: 1px solid #c72571;
    cursor: pointer;
    background-color: white;
    width: 60%;
    font-size: 12px;
    font-weight: 600;
}

.custom-options {
    position: absolute;
    top: 88%;
    right: 0px;
    width: 60%;
    font-size: 12px;
    background-color: white;
    border: 1px solid #ccc;
    display: none;
    z-index: 1000;
}

.custom-options.show {
    display: block;
}

.custom-option {
    padding: 5px;
    cursor: pointer;
}

.custom-option:hover {
    background-color: #fff5fa;
    color: #000000;
}

.custom-option.selected {
    background-color: #fff5fa;
    color: #000000;
}

.downward-arrow {
    width: 0px;
    height: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid black;
    rotate: 180deg;
    display: inline-block;
    margin-left: 8px;
}

/* ---------------------------------------------------------------------- */
/* Style the search button */
.search-button {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 100%;
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.user-para {
    color: #333;
    font-size: 14px;
    margin: 5px 0px 0px 0px;
}

.excel {
    width: 28px;
    height: 26px;
}

.border-div:hover .excel-text {
    color: #c72571;
}

.bi-filetype-csv, .bi-file-earmark-pdf {
    height: 26px;
    width: 28px;
    fill: #333;
}

.bi-filetype-csv:hover, .bi-file-earmark-pdf:hover {
    fill: #c72571;
    
}

.border-div:hover {
    border: 1px solid #c72571;
}

.excel-style {
    stroke: #303c42;
    stroke-linecap: round;
    stroke-linejoin: round;
}

#export-excel-link:hover .excel-style {
    stroke: #c72571 !important;
}

.bi-search {
    width: 12px;
    height: 12px;
}

.border-div {
    position: relative;
    border: 1px solid #aaa;
    padding: 8px 7px;
    margin: 0px 3px;
}

.csv,
.pdf {
    position: absolute;
    font-size: 11px;
    bottom: -21px;
    left: 7px;
    font-weight: 600;
}

.border-div:hover .csv, .border-div:hover .pdf {
    color: #c72571;
}

.excel-text {
    position: absolute;
    font-size: 11px;
    bottom: -21px;
    left: 1px;
    font-weight: 600;
}


.select-div {
    font-size: 12px;
    border: 1px solid #c72571;
    padding: 5px;
    font-weight: 600;
    outline: none;
    background-color: #fff;
}

/* Custom styling for options */
select option {
    background-color: white;
    color: black;
}

select option:hover {
    background-color: #fff5fa;
}

.select-div:focus {
    border-color: #c72571;
}

.item-range {
    font-size: 12px;
    padding: 5px;
    font-weight: 600;
}

.anchor {
    color: #000000;
}

.anchor:hover {
    color: #c72571;
}

.page-icon {
    padding-left: 5px;
    padding-right: 5px;
}


/* tabel style */

.form-check-input:checked {
    background-color: #c72571 !important;
    border-color: #c72571 !important;
}

.checked-row {
    color: #c72571 !important;
    background-color: #ffffff;
    border-color: #c72571 !important;
}

.checked-perm {
    background-color: #fee9ff !important;
    color: #c72571 !important;
    border: 1px solid #c72571 !important;
}

.checked-action {
    fill: #c72571 !important;
    border: 1px solid #c72571 !important;
}

table {
    width: 100%;
}

.table-div {
    border-collapse: collapse;
}

.check {
    border: 1px solid #aaa;
    background-color: #fcddec;
    padding: 10px;
    width: 0px;
}

.thead, .tdata {
    border: 1px solid #aaa;
}

.thead {
    background-color: #fcddec ;
    padding: 5px 5px 5px 10px;
    font-size: 12px;
    width: 11%;
}

.password {
    background-color: #fff5fa;
    padding: 5px 0px 5px 10px;
    font-size: 12px;
    border: 1px solid #aaa;
    width: 10%;
}

.Permission {
    background-color: #fff5fa;
    padding: 5px 0px 5px 10px;
    font-size: 12px;
    border: 1px solid #aaa;
    width: 38%;
}

.action {
    background-color: #fcddec;
    padding: 5px 0px 5px 10px;
    font-size: 12px;
    border: 1px solid #aaa;
    width: 14%;
}

.check1 {
    border: 1px solid #aaa;
    padding: 10px;
}

.tdata {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 7px;   
}

/* action style */

.edit-icon, .delete-icon {
    padding: 5px;
    border: 1px solid #aaa;
    width: 34px;
    height: 30px;
    margin: 5px;
    background-color: #eee;
    fill: #666;
}

.delete .delete-icon {
    padding: 3px 1px;
    border: 1px solid #aaa;
    width: 34px;
    height: 30px;
    background-color: #eee;
    fill: #666;
}

.tdata.status .status-display {
    /* max-width: 350px; */
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    width: 300px;
    height: 76px;
}

.status-div {
    width: 100%;
}

.tabel_body_div {
    width: 80rem;
    overflow: scroll;
}

.table-container {
    overflow-x: auto;
    scrollbar-width: thin;
}

.table-container table {
    width: 100%;
    min-width: 800px;
    border-collapse: collapse;
}

.table-container th, .table-container td {
    white-space: nowrap;
}

/* status style */

/* Container for the toggle switch */
.toggle-switch {
    position: relative;
    width: 60px;
    height: 30px;
}

/* Hide the default checkbox */
.toggle-input {
    display: none;
}

/* The slider */
.toggle-label {
    position: absolute;
    height: 24px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.4s;
}

/* The circle inside the slider */
.toggle-label:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
}

/* When the checkbox is checked */
.toggle-input:checked + .toggle-label {
    background-color: green;
}

/* Move the circle to the right when checked */
.toggle-input:checked + .toggle-label:before {
    transform: translateX(30px);
}
